
body {
    background-image: url(../img/back.jpg);
    background-size: 100% 100%;
    font-family: comic Sans MS;
}

.head {
    margin-top: 10px;
    display: none;
}

.start {
    margin-top: 150px;  
    width: 210px;
    height: 110px;
    font-size: 50px;
}

.rigth,
.wrong {
    display: none;
    font-size: 25px;
}

.picnav {
    margin-top: 100px;
    display: none;
    width: 350px;   
    height: 450px;  
}

#timer{
    height: 130px;
    margin-top: 10px;
    font-size: 150px;
}

.btnop {
    width: 250px;
    height: 120px;
    background-color: #87CEEB;
    margin: 5px;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}

p {
    font-size: 30px;
    font-weight: bold;
    color: white; 
    text-shadow: -3px 3px black;
}

.row.content {height: 920px}

.sidenav {
    background-color: transparent;
    height: 100%;
}

h1 {
    margin-top: 80px;
    font-weight: bold;
    font-size: 75px;
    color:  #FF8C00;
    text-shadow: 7px 7px #000000;
}

h2 {
    font-size:35px;
    font-weight: bold;
    color: #000000;
    background-color:   #FAEBD7;
}

footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }
    .row.content {height: auto;}
}